@import '../generic/fonts';
@import '../generic/colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_family;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

.app{
    width: 100%;
    min-height: 100vh;
    background-color: $primary_color;

    display: grid;
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-areas: 
    'navbar'
    'body'
    'footer';
}

.navbar-container{
    grid-area: navbar;
}

.body{
    grid-area: body;
}


.footer{
    grid-area: footer;
}

@media screen and (max-width: 750px) {
    html{
        font-size: 10px;
    }

    .app{
        font-size: 10px;
    }
}