@import '../../generic/colors';

.greeting-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 700px));
    justify-content: center;
    min-height: 100vh;
    font-size: 1.8rem;
}

.greeting{
    grid-column: span(1, 2);
    display: grid;
    align-items: center;
    padding-left: 3.2em;
    
    h1{
        font-weight: 900;
        line-height: 5rem;
    }
    span{
        color: $secondary_color;
    }
}

.greeting-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3em;
    .frame{
        $size: 20rem; // frame dimensions

        width: $size;
        height: $size;
        border-radius: 50%;
        max-width: 500px;
        background-image: url('../../../assets/me.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}



@media screen and (max-width: 900px) {
    .greeting-container{
        font-size: 1.3rem;
        grid-template-columns: 2fr 1fr;
    }

    .greeting{
        padding-left: 5em;
        h1{
            line-height: 4rem;
        }
    }

    .greeting-img{
        .frame{
            $size: 16rem;
            width: $size;
            height: $size;
        }
    }
}

@media screen and (max-width: 425px) {
    .greeting-container{
        font-size: 1.4rem;

        .greeting{
            padding-left: 3em;
        }

        h1{
            line-height: 3.4rem;
        }
        .frame{
            $size: 12rem;
            width: $size;
            height: $size;
        }
    }

    
}